<footer class="bg-dark text-white py-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>База отдыха "Человек Солнца" на Черном море</h5>
        <p>г. Геленджик, Пшадский сельский округ, х. Бетта, ул. Веселая, д. 9</p>
        <p id="contacts">Телефон: <a href="tel:+79280385628" class="text-light">+7 (928) 038-56-28</a></p>
        <p>Email: <a href="mailto:betta-more@bk.ru" class="text-light">betta-more@bk.ru</a></p>
      </div>
      <div class="col-md-6 text-md-end">
        <h5>Мы в социальных сетях</h5>
        <a href="https://vk.com/betta1" class="text-light"><i class="bi bi-vk"></i> ВКонтакте</a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p class="mb-0">&copy; 2015 База отдыха "Человек Солнца". Все права защищены.</p>
      </div>
    </div>
  </div>
</footer>